.todo {
  background-color: hsl(0, 0%, 98%);

  height: 60vh;

  &__content {
    background-color: var(--light-color);
    border-radius: 7px;

    top: -50px;
    position: relative;

    @include small-tablet {}
  }

  &__content.darck-theme .todo__item {
    border-color: hsl(237, 14%, 26%);
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid;
    border-color: hsl(233, 11%, 84%);

    &:hover {
      .todo__close {
        opacity: 1;
        transition: opacity .3s ease-in-out;
      }
    }
  }


  &__text {
    color: inherit;
    font-weight: 300;

    &--completed {
      text-decoration: line-through;
      opacity: .5;
      transition: .1s ease-in-out;
    }
  }


  &__check {
    position: relative;
    margin-right: 20px;
    width: 24px;
    height: 24px;
    border: 1px solid;
    border-radius: 50%;
    border-color: rgba(gray, .5);
    appearance: none;


    &:hover {
      box-shadow: 0 0 0 0.5px hsl(192, 100%, 67%), 0 0 0 1px hsl(280, 87%, 65%);
      border-color: transparent;
    }

    &:checked {
      background: url(../img/icon-check.svg), linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
      background-repeat: no-repeat;
      background-position: center;
      border: 0;
      transition: .1s ease-in-out;
    }

  }

  &__close {
    background-image: url(../img/icon-cross.svg);
    background-size: cover;
    margin-left: auto;
    width: 18px;
    height: 18px;
    opacity: 0;
  }

  &__count {
    color: hsl(236, 9%, 61%);
    font-size: 15px;
    margin-right: 115px;

    @include small-tablet {
      margin: 0;
    }
  }

  &__clear {
    color: hsl(236, 9%, 61%);
    font-size: 15px;
    margin-left: 72px;

    @include small-tablet {
      margin: 0;
    }
  }

}


.nav {

  display: flex;
  padding: 13px 23px 13px 23px;
  bottom: 0;
  border-top: 1px solid;
  border-radius: 4px;
  border-color: rgba(#000000, .1);
  background-color: var(--light-color);
  max-width: 600px;
  width: 100%;

  @include small-tablet {
    justify-content: space-between;
  }

  &__list {

    display: flex;

    @include small-tablet {
      position: absolute;
      justify-content: center;
      padding: 17px 0;
      max-width: 600px;
      width: 100%;
      border-radius: 4px;
      left: 0;
      bottom: -70px;
      background-color: var(--light-color);

    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__btn {
    color: hsl(236, 9%, 61%);
    font-size: 15px;
    font-weight: 600;

    &--active {
      color: hsl(220, 98%, 61%);
    }

  }
}



.darck-theme {
  background-color: hsl(235, 24%, 19%);


  &--bg {
    background-image: url(../img/bg-desktop-dark.jpg);
  }

  &--todo {
    background-color: hsl(235, 21%, 11%);
    color: hsl(234, 39%, 85%);
    border-color: hsl(237, 14%, 26%);
  }

  &--text {

    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
  }

  &--item {
    border-color: hsl(237, 14%, 26%);
  }

  &--icon {
    background-image: url(../img/icon-sun.svg);
  }
}
