<header class="header">
  <div class="container header__container">
    <h1 class="header__title">
      TODO
    </h1>
    <button class="btn-reset header__theme">

    </button>
    <form class="form">
      <button type="button"  class="btn-reset btn">
        <div class="todo__img"></div>
      </button>
      <label class="form__label">
        <input type="text" name="todo" class="input-reset form__input" placeholder="Create a new todo..." onkeypress="if(event.keyCode == 13) return false;">
      </label>
    </form>



  </div>

</header>
