<div class="todo">
  <div class="container">
    <div class="todo__content">
      <div class="swiper todo__swiper">
        <div id="todo" class="swiper-wrapper">
          
        </div>
      </div>
      <nav class="nav" title="">
        <span class="todo__count">0 items left</span>
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <button id="all" class="btn-reset nav__btn nav__btn--active">All</button>
          </li>
          <li class="nav__item">
            <button id="active" class="btn-reset nav__btn">Active</button>
          </li>
          <li class="nav__item">
            <button id="completed" class="btn-reset nav__btn">Completed</button>
          </li>
        </ul>
        <button class="btn-reset todo__clear">Clear Completed</button>
      </nav>
    </div>
  </div>
</div>
