// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Jose", sans-serif;
  --content-width: 600px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;

  --gradient-color: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));;

}
